@media (max-width: 1850px) {
  .header__nav {
    margin-left: 0;
  }
  .nav__list {
    margin: 0 auto;
  }
  .nav-contacts {
    margin: 0 auto;
  }
}

@media (max-width: 1700px) {
  .hero__info {
    margin-top: 0;
  }
}

@media (max-width: 1649px) {
  .nav-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-contacts__link {
    margin-right: 0;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1549px) {
  .nav-contacts {
    margin: 0;
  }
  .hero__image {
    right: 0;
    width: 50%;
  }
  .hero__content {
    margin-left: 0;
  }
  .hero__info {
    margin-bottom: 50px;
  }
  .base-information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base-information__title {
    display: none;
  }
  .base-information__title_mobile {
    margin-bottom: 30px;
    text-align: center;
  }
  .base-information__image {
    width: 100%;
    text-align: center;
  }
  .base-information__image video {
    width: auto;
  }
  .base-information__info {
    width: 100%;
  }
  .base-information__video {
    text-align: center;
  }
  .table {
    width: 100%;
  }
  .video-reviews__item {
    margin-bottom: 50px;
  }
  .video-reviews__item:nth-child(odd) {
    margin-right: 0;
  }
  .video-reviews__item:nth-child(n+3) {
    margin-top: 0;
  }
  .kit-list__item {
    padding: 40px 70px;
  }
  .kit-list__info {
    width: 60%;
  }
  .delivery__col:nth-child(2) {
    margin-left: 50px;
  }
  .form__input:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .consultation__title {
    width: 90%;
  }
}

@media (max-width: 1310px) {
  .header {
    z-index: 20;
  }
  .header__container {
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    position: absolute;
    top: 100px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding: 30px;
    background: #F5F5F5;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 20;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .nav__item {
    margin-right: 0 !important;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav--active {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 1439px) {
  .main-title {
    font-size: 40px;
    line-height: 60px;
  }
  .main-title-icon {
    font-size: 40px;
  }
  .hero {
    padding: 60px 0;
  }
  .advantages-list__item {
    padding: 90px;
    background-size: 30% !important;
  }
  .goods-list__item {
    max-width: none;
    width: 30%;
  }
  .goods-list__liters {
    text-align: center;
  }
  .gallery__items {
    -ms-grid-rows: (144px)[3];
        grid-template-rows: repeat(3, 144px);
  }
  .delivery__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .delivery__title {
    font-size: 50px;
  }
  .delivery__subtitle {
    font-size: 22px;
  }
  .delivery__desc {
    font-size: 18px;
  }
  .consultation__title {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .main-title {
    text-align: center;
  }
  .hero {
    background-image: none;
  }
  .hero__info {
    max-width: none;
    width: 100%;
  }
  .hero__subtitle {
    margin-bottom: 30px;
    text-align: center;
  }
  .hero__image {
    display: none;
  }
  .hero__image_mobile {
    display: block;
    margin-bottom: 30px;
  }
  .hero__list {
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .hero__item {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hero__item:not(:last-child) {
    margin-bottom: 0;
  }
  .hero__item-icon {
    width: 20%;
  }
  .hero__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__btn {
    padding: 0 30px 30px;
  }
  .advantages__btn:not(:last-child) {
    margin-right: 60px;
  }
  .advantages-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    background-image: none !important;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .advantages-list__item:not(:last-child) {
    margin-bottom: 70px;
  }
  .advantages-list__image_mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
  .advantages-list__info {
    width: 100%;
    text-align: left !important;
  }
  .advantages-list__subheading {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
  }
  .advantages-list__text {
    max-width: none;
    margin-left: 0 !important;
  }
  .advantages-list__text_not-max-width ul {
    display: block;
  }
  .table__title {
    padding: 15px 20px 15px 30px;
    vertical-align: middle !important;
    font-size: 24px;
  }
  .table__desc {
    font-size: 18px;
  }
  .goods__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goods-list__item {
    width: 48%;
  }
  .goods-list__item:not(:last-child) {
    margin-bottom: 130px;
  }
  .goods-list__item:first-child {
    margin-right: 4%;
  }
  .goods-list__item_red {
    margin: 0 auto;
  }
  .kit-list__item {
    padding: 30px;
  }
  .gallery__items {
    -ms-grid-rows: (115px)[3];
        grid-template-rows: repeat(3, 115px);
  }
  .delivery {
    background-image: url(../images/delivery-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .delivery__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivery__info {
    display: block;
  }
  .delivery__image {
    display: none;
  }
  .delivery__company {
    width: 100%;
    margin-bottom: 10px;
  }
  .delivery__company img {
    margin: 0 auto 20px !important;
  }
  .footer__container {
    max-width: 100%;
  }
  .consultation__title::before, .consultation__title::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .advantages__buttons {
    background-image: none;
  }
  .table {
    display: none;
  }
  .comparison__table-mobile {
    display: block;
  }
  .base-information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base-information__image {
    width: 100%;
  }
  .base-information__info {
    width: 100%;
    margin-bottom: 30px;
  }
  .base-information__title {
    text-align: center;
  }
  .table__title {
    font-size: 20px;
    line-height: 25px;
  }
  .table__desc {
    font-size: 16px;
    line-height: 20px;
  }
  .table__desc .big {
    font-size: 20px;
  }
  .table__info {
    font-size: 26px;
  }
  .table__price span {
    font-size: 40px !important;
  }
  .set__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .set__image {
    width: 100%;
    margin-bottom: 30px;
  }
  .set__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kit-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
  }
  .kit-list__image {
    width: 100%;
    margin-bottom: 30px;
  }
  .kit-list__info {
    width: 100%;
  }
  .gallery__items {
    gap: 20px;
    -ms-grid-rows: (88px)[3];
        grid-template-rows: repeat(3, 88px);
  }
  .manufacturer__title {
    line-height: 40px;
  }
  .manufacturer__list {
    padding-left: 0;
  }
  .consultation {
    padding: 120px 0;
  }
  .consultation__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-privacy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-title-icon {
    padding: 0 10px;
    background: linear-gradient(49.49deg, #B32B34 0%, #DD2839 34.64%);
    border-radius: 20px;
  }
  .main-title-icon::after {
    display: none;
  }
  .hero__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .hero__item {
    width: 100%;
  }
  .hero__buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__prices {
    margin: 0 0 30px;
  }
  .hero__btn {
    margin-bottom: 30px;
  }
  .advantages__buttons {
    display: block;
  }
  .advantages__btn {
    display: block;
    padding: 0 0 20px;
    margin: 0 auto;
  }
  .advantages__btn:not(:last-child) {
    margin-right: auto;
    margin-bottom: 30px;
  }
  .advantages-list__heading {
    font-size: 30px;
    line-height: 40px;
  }
  .advantages-list__subheading {
    font-size: 20px;
    background-image: 30px;
  }
  .advantages-list__text {
    display: none;
    margin-bottom: 30px;
  }
  .advantages-list__text_open {
    display: block;
  }
  .advantages-list__desc {
    font-size: 18px;
    line-height: 24px;
  }
  .advantages-list ul li {
    font-size: 20px;
    line-height: 24px;
  }
  .advantages-list__btn {
    display: block;
  }
  .goods__subtitle {
    margin-bottom: 50px;
  }
  .goods__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .goods-list__item {
    width: 100%;
    padding: 30px 70px;
  }
  .goods-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .goods-list__item:first-child {
    margin-right: 00;
  }
  .goods-list__item_red {
    margin: 0;
  }
  .goods-list__image {
    position: inherit;
    -webkit-transform: none !important;
            transform: none !important;
    right: 0;
    margin-bottom: 30px;
  }
  .kit__buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kit__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .kit__btn {
    margin: 0 auto;
  }
  .gallery__items {
    gap: 10px;
    -ms-grid-rows: (70px)[3];
        grid-template-rows: repeat(3, 70px);
  }
  .consultation__content {
    padding: 70px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation__left {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 50px;
    line-height: 60px;
  }
  .base-information__image video {
    width: 100%;
  }
  .set__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .set-modal__ineer {
    max-width: none;
    height: auto;
  }
  .set-modal__text {
    padding: 0;
  }
  .set-modal-icon-prev {
    left: 10px;
  }
  .set-modal-icon-next {
    right: 10px;
  }
  .goods__buy {
    max-width: 230px;
    margin: 0 auto;
  }
  .goods-list__info {
    max-width: none;
  }
  .gallery {
    padding: 30px 0;
  }
  .gallery__items {
    gap: 5px;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .delivery {
    padding: 0;
  }
  .delivery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delivery__col:first-child {
    display: none;
  }
  .delivery__col:nth-child(2) {
    margin: 0 auto;
    text-align: center;
  }
  .delivery__list {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivery__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .delivery__btn {
    margin: 0 auto;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 40px;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 38px;
    line-height: 46px;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .logo__text {
    display: none;
  }
  .goods-list__item {
    padding: 30px;
  }
  .manufacturer__title {
    font-size: 30px;
  }
  .consultation__btn {
    width: auto;
    padding: 30px;
  }
  .footer-phone__link {
    font-size: 30px;
    line-height: 30px;
  }
}
