:root {
  --content-width: 1520px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #323232;
  --green-color: #33A849;
}

/* stylelint-disable */
/* stylelint-disable */
/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #F8F8F8;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
}

.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header__container {
  max-width: var(--header-container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  width: 229px;
  height: 58px;
  display: inline-block;
  background: var(--green-color);
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: var(--light-color);
  text-align: center;
}

.main-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
}

.main-title span {
  font-weight: 900;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--text-color);
}

@media (min-width: 480px) {
  .container {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1550px) {
  .container {
    max-width: var(--container-width);
  }
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 31px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-contacts__link {
  display: block;
  margin-right: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: var(--text-color);
}

.nav-contacts__btn {
  position: relative;
  width: 197px;
  height: 44px;
  padding: 9px 0px 9px 39px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
  border-radius: 20px;
}

.nav-contacts__btn::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 21px;
  width: 26px;
  height: 26px;
  background-image: url(../images/phone-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-old, .price-now {
  display: block;
}

.price-old {
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 30px;
  line-height: 22px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A7A7A7;
  text-align: right;
}

.price-now {
  font-weight: 900;
  font-size: 50px;
  line-height: 22px;
  color: var(--text-color);
}

.video__container {
  position: relative;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  margin-bottom: 10px;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__btn:hover svg path:nth-child(1) {
  fill: #ff0000;
  fill-opacity: .8;
}

.video__title {
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
  text-align: center;
}

.header {
  position: relative;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.header__container {
  max-width: 1780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100px;
}

.header__nav {
  margin-left: 90px;
}

.header__burger {
  position: relative;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
}

.header__burger-line {
  display: inline-block;
  width: 43px;
  height: 3px;
  background: #171717;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before, .header__burger-line::after {
  content: "";
  position: absolute;
  right: 0;
  width: 60px;
  height: 3px;
  background: #171717;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before {
  bottom: 0;
}

.header__burger-line::after {
  top: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}

.hero {
  position: relative;
  padding: 40px 0 52px;
  background: -webkit-gradient(linear, left top, right top, color-stop(64.99%, #FFFFFF), color-stop(80.55%, rgba(255, 255, 255, 0.778648)), color-stop(84.5%, rgba(255, 255, 255, 0.616883)), color-stop(96.89%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFFFFF 64.99%, rgba(255, 255, 255, 0.778648) 80.55%, rgba(255, 255, 255, 0.616883) 84.5%, rgba(255, 255, 255, 0) 96.89%);
  background-image: url(../images/hero-bg.png);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(64.99%, #FFFFFF), color-stop(80.55%, rgba(255, 255, 255, 0.778648)), color-stop(84.5%, rgba(255, 255, 255, 0.616883)), color-stop(96.89%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFFFFF 64.99%, rgba(255, 255, 255, 0.778648) 80.55%, rgba(255, 255, 255, 0.616883) 84.5%, rgba(255, 255, 255, 0) 96.89%);
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
  height: 180px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(56.83%, #F8F8F8), color-stop(77.43%, rgba(248, 248, 248, 0.604167)), color-stop(87.98%, rgba(248, 248, 248, 0)));
  background: linear-gradient(0deg, #F8F8F8 56.83%, rgba(248, 248, 248, 0.604167) 77.43%, rgba(248, 248, 248, 0) 87.98%);
}

.hero__container {
  position: relative;
  z-index: 1;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__info {
  max-width: 800px;
  margin-bottom: 130px;
}

.hero__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 121px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-color);
}

.hero__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.hero__item {
  padding: 0 0 17px 49px;
  background-image: url(../images/hero-gear.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.hero__item_line {
  position: relative;
}

.hero__item_line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: url(../images/hero-line.png);
  background-repeat: no-repeat;
}

.hero__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.hero__item-desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.hero__image {
  position: absolute;
  top: -20px;
  right: 0;
}

.hero__image_mobile {
  display: none;
}

.hero__buy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__prices {
  margin-right: 70px;
}

.hero__btn {
  margin-right: 30px;
}

.hero__discount {
  padding: 10px 50px 13px 26px;
  background-image: url(../images/hero-discount-bg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
}

.hero__discount span {
  font-weight: 700;
  color: #EA2727;
}

.advantages {
  padding: 80px 0 100px;
}

.advantages__title {
  margin-bottom: 16px;
  text-align: center;
}

.advantages__subtitle {
  max-width: 950px;
  margin: 0 auto 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-color);
  text-align: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-list__item {
  background: var(--light-color);
  border-radius: 2px;
  background-position: left;
  background-repeat: no-repeat;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.advantages-list__item_large {
  position: relative;
  max-width: 1000px;
  max-height: 276px;
  height: 100%;
  padding: 48px 120px 48px 250px;
  border: 2px solid #FFAEAE;
}

.advantages-list__item_large::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 71px;
  height: 70px;
  background-image: url(../images/advantages/advantages-icon1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-list__item_small {
  position: relative;
  max-width: 750px;
  padding: 52px 100px 52px 220px;
  border: 2px solid #2CA700;
}

.advantages-list__item_small::before {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 71px;
  height: 70px;
  background-image: url(../images/advantages/advantages-icon2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-list__item_1 {
  background-image: url(../images/advantages/advantages-img1.png);
  background-position: left 40px center;
}

.advantages-list__item_2 {
  background-image: url(../images/advantages/advantages-img2.png);
}

.advantages-list__item_3 {
  background-image: url(../images/advantages/advantages-img3.png);
  background-position: left 40px center;
}

.advantages-list__item_4 {
  background-image: url(../images/advantages/advantages-img4.png);
}

.advantages-list__item_5 {
  padding: 80px 120px 80px 250px;
  background-image: url(../images/advantages/advantages-img5.png);
  background-position: left 40px center;
}

.advantages-list__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--text-color);
}

.advantages-list__desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.base-information {
  padding-bottom: 100px;
}

.base-information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base-information__image {
  width: 48%;
}

.base-information__image video {
  width: 100%;
}

.base-information__info {
  width: 48%;
}

.base-information__title {
  margin-bottom: 20px;
}

.base-information__desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.base-information__desc:not(:last-child) {
  margin-bottom: 30px;
}

.information {
  padding: 50px 0;
}

.information__title {
  margin-bottom: 52px;
  text-align: center;
}

.information-list__item {
  max-width: 1320px;
  margin: 0 auto;
  padding: 70px 130px 70px 120px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.information-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.information-list__item_left {
  background-position: left;
}

.information-list__item_left .information-list__content {
  margin-left: auto;
}

.information-list__item_1 {
  background-image: url(../images/information/information-img1.png);
  background-position: right 60px center;
}

.information-list__item_2 {
  background-image: url(../images/information/information-img2.png);
  background-position: left 130px center;
}

.information-list__item_3 {
  background-image: url(../images/information/information-img3.png);
  background-position: right 40px bottom;
}

.information-list__item_4 {
  background-image: url(../images/information/information-img4.png);
}

.information-list__item_5 {
  background-image: url(../images/information/information-img5.png);
}

.information-list__content {
  max-width: 620px;
}

.information-list__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--text-color);
}

.information-list__name {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: var(--green-color);
}

.information-list__desc {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  color: #323232;
}

.information-list__desc span {
  font-weight: 600;
}

.information-list__desc:not(:last-child) {
  margin-bottom: 30px;
}

.information-list ul {
  margin-bottom: 30px;
  list-style-type: disc;
}

.information-list li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.goods {
  padding: 60px 0;
}

.goods__title {
  margin-bottom: 160px;
  text-align: center;
}

.goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods__buy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods__prices {
  margin-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods__price .price-old {
  margin: 0 0 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: inherit;
}

.goods__price .price-now {
  font-size: 32px;
  line-height: 26px;
}

.goods__discount {
  display: block;
  padding: 8px 17px 5px 6px;
  background-image: url(../images/goods/discount-green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.goods__discount span {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-color);
}

.goods-list__item {
  position: relative;
  max-width: 378px;
  width: 100%;
  padding: 450px 70px 33px;
  background: var(--light-color);
  border-radius: 5px;
}

.goods-list__item_1 .goods-list__image {
  -webkit-transform: translate(50%, -30px);
          transform: translate(50%, -30px);
}

.goods-list__item_2 .goods-list__image {
  -webkit-transform: translate(50%, -130px);
          transform: translate(50%, -130px);
}

.goods-list__item_3 .goods-list__image {
  -webkit-transform: translate(50%, -100px);
          transform: translate(50%, -100px);
}

.goods-list__item_red {
  border: 2px solid #FD6A22;
}

.goods-list__item_red .goods__discount {
  background-image: url(../images/goods/discount-red.svg);
}

.goods-list__item_red .goods__btn {
  background: #FF5858;
}

.goods-list__image {
  position: absolute;
  top: 0;
  right: 50%;
  width: 100%;
}

.goods-list__info {
  max-width: 230px;
  margin: 0 auto;
}

.goods-list__liters {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color);
}

.goods-list__desc {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
}

.goods-list ul {
  margin-bottom: 40px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: disc;
}

.goods-list ul li {
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.goods-list ul li:not(:last-child) {
  margin-bottom: 5px;
}

.kit {
  padding: 60px 0;
}

.kit__title {
  margin-bottom: 50px;
  text-align: center;
}

.kit__buy {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kit-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 160px 40px 130px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}

.kit-list__image {
  width: 30%;
}

.kit-list__info {
  width: 50%;
}

.kit-list__name {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--text-color);
}

.kit-list__desc {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.desiccant-work {
  padding: 60px 0;
}

.desiccant-work__title {
  margin-bottom: 12px;
  text-align: center;
}

.desiccant-work__subtitle {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #939393;
  text-align: center;
}

.desiccant-work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desiccant-work__image {
  width: 40%;
}

.desiccant-work__image video {
  width: 100%;
}

.desiccant-work__info {
  width: 40%;
  margin-left: 10%;
}

.desiccant-work__desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.desiccant-work__desc span {
  font-weight: 600;
}

.desiccant-work__desc:not(:last-child) {
  margin-bottom: 30px;
}

.desiccant-work ul {
  margin-bottom: 30px;
}

.desiccant-work ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.ease-of-parsing {
  padding: 60px 0;
}

.ease-of-parsing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 200px 70px 130px;
  background: #F9FFF7;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.ease-of-parsing__info {
  width: 60%;
}

.ease-of-parsing__image {
  width: 30%;
}

.ease-of-parsing__title {
  margin-bottom: 12px;
}

.ease-of-parsing__subtitle {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #939393;
}

.ease-of-parsing__desc {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.ease-of-parsing__desc span {
  font-weight: 600;
}

.profit {
  padding: 60px 0 120px;
}

.profit__title {
  margin-bottom: 52px;
  text-align: center;
}

.profit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profit-list__item {
  position: relative;
  max-width: 1340px;
  max-height: 380px;
  width: 100%;
}

.profit-list__item:not(:last-child) {
  margin-bottom: 100px;
}

.profit-list__item::before {
  content: '';
  position: absolute;
  top: -37px;
  background-repeat: no-repeat;
  z-index: 10;
}

.profit-list__item::after {
  content: '';
  position: absolute;
  top: -60px;
  background-color: var(--light-color);
  border-radius: 100%;
  z-index: 1;
}

.profit-list__item_left .profit-list__inner {
  margin-left: auto;
}

.profit-list__item_left .profit-list__info {
  margin-left: auto;
}

.profit-list__item_left::before {
  left: 23px;
  width: 468px;
  height: 468px;
  background-image: url(../images/profit/profit-img1.png);
}

.profit-list__item_left::after {
  left: 0;
  width: 514px;
  height: 514px;
}

.profit-list__item_right .profit-list__info {
  max-width: 750px;
}

.profit-list__item_right::before {
  right: 23px;
  width: 476px;
  height: 476px;
  background-image: url(../images/profit/profit-img2.png);
}

.profit-list__item_right::after {
  right: 0;
  width: 522px;
  height: 522px;
}

.profit-list__inner {
  max-width: 940px;
  padding: 50px 80px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}

.profit-list__info {
  max-width: 680px;
}

.profit-list__name {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: var(--text-color);
}

.profit-list__desc {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}

.profit-list__desc:not(:last-child) {
  margin-bottom: 20px;
}

.profit-list__desc span {
  font-weight: 600;
}

.profit-list ul {
  margin-bottom: 20px;
  list-style-type: disc;
}

.profit-list ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}

.main-video {
  padding: 60px 0;
}

.main-video__title {
  margin-bottom: 50px;
  text-align: center;
}

.main-video__video {
  width: 1064px;
  height: 614px;
  margin: 0 auto;
}

.main-video__video-container {
  padding-bottom: 56%;
}

.set {
  padding: 60px 0;
}

.set__title {
  margin-bottom: 12px;
  text-align: center;
}

.set__subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #939393;
  text-align: center;
}

.set__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.set__list_left .set__item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.set__list_left .set__item span {
  margin-right: 10px;
}

.set__list_right .set__item span {
  margin-left: 10px;
}

.set__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.set__item_1 {
  top: -50px;
  left: -20px;
}

.set__item_2 {
  top: -5px;
  left: -20px;
}

.set__item_3 {
  top: 35px;
  left: -20px;
}

.set__item_4 {
  top: 80px;
  left: -20px;
}

.set__item_5 {
  top: 125px;
  left: -20px;
}

.set__item_6 {
  top: 10px;
  left: 20px;
}

.set__item_7 {
  top: 50px;
  left: 20px;
}

.set__item_8 {
  top: 90px;
  left: 20px;
}

.set__item_9 {
  top: 135px;
  left: 20px;
}

.set__item_10 {
  top: 180px;
  left: 20px;
}

.opportunities {
  padding: 80px 0;
  background-color: var(--light-color);
}

.opportunities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.opportunities__title {
  margin-bottom: 12px;
}

.opportunities__info {
  width: 50%;
  margin-right: 23px;
}

.opportunities__subtitle {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #939393;
}

.opportunities__desc {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.opportunities__desc span {
  font-weight: 600;
}

.opportunities__desc:not(:last-child) {
  margin-bottom: 20px;
}

.opportunities ul {
  margin-bottom: 20px;
}

.opportunities ul li {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.gallery {
  padding: 60px 0 120px;
}

.gallery__title {
  text-align: center;
  margin: 0 auto 50px;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (209px)[3];
      grid-template-rows: repeat(3, 209px);
  grid-gap: 30px;
}

.gallery__item {
  background: #F8F8F8;
}

.gallery__item_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.gallery__item_2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery__item_3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery__item_4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery__item_5 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features {
  padding: 60px 0;
  margin-bottom: 100px;
  background-color: var(--light-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__list-icon {
  display: inline-block;
  margin-right: 18px;
}

.features__list-inner {
  max-width: 260px;
}

.features__list-title {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-color);
}

.features__list-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6A6A6A;
}

.manufacturer {
  position: relative;
  padding-top: 150px;
  padding-bottom: 128px;
  background-image: url(../images/manufacturer-bg.webp);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.manufacturer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background: linear-gradient(89.25deg, rgba(0, 0, 0, 0.75) 77.25%, rgba(0, 0, 0, 0) 92.26%);
}

.manufacturer__container {
  position: relative;
  z-index: 10;
}

.manufacturer__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: var(--light-color);
}

.manufacturer__title span.yellow {
  color: #FFCB12;
}

.manufacturer__title span {
  font-weight: 900;
}

.manufacturer__list {
  padding-left: 70px;
}

.manufacturer__item {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--light-color);
}

.manufacturer__item span {
  font-weight: 700;
}

.manufacturer__item:not(:last-child) {
  margin-bottom: 20px;
}

.manufacturer__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/manufacturer-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.manufacturer a {
  color: #fff;
}

.delivery {
  padding-top: 172px;
  padding-bottom: 70px;
}

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery__image {
  margin-bottom: 20px;
}

.delivery__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.delivery__company {
  width: 30%;
}

.delivery__company img {
  display: block;
}

.delivery__company img:nth-child(1) {
  margin-left: 0;
}

.delivery__company img:nth-child(2) {
  margin: 0 auto;
}

.delivery__company img:nth-child(3) {
  margin-right: 0;
}

.delivery__company img:not(:last-child) {
  margin-bottom: 20px;
}

.delivery__list {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.delivery__item {
  position: relative;
  padding-left: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.delivery__item:not(:last-child) {
  margin-top: 31px;
  margin-bottom: 11px;
}

.delivery__item::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--text-color);
}

.delivery__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 87.36px;
}

.delivery__subtitle {
  max-width: 640px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: var(--text-color);
}

.delivery__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.delivery__price-text {
  margin: 0;
  margin-right: 13px;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__price-text span {
  font-weight: 600;
}

.delivery__price-text--two {
  margin-right: 23px;
}

.delivery__desc {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__desc span {
  font-weight: 600;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 138px;
}

.reviews__title {
  margin-bottom: 50px;
  text-align: center;
}

.reviews__container {
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 74px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}

.swiper-button-prev {
  left: -50px;
  background-image: url(../images/arrow-prev.svg);
}

.swiper-button-next {
  right: -50px;
  background-image: url(../images/arrow-next.svg);
}

.consultation {
  margin-bottom: 165px;
  background: var(--light-color);
}

.consultation__content {
  position: relative;
  padding: 140px 0 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation__title {
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 50px;
}

.consultation__link {
  display: block;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 60px;
  line-height: 50px;
  color: #FD6A22;
}

.consultation__desc {
  max-width: 670px;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: var(--text-color);
}

.consultation__form {
  text-align: center;
}

.form__inputs {
  margin-bottom: 15px;
}

.form__input {
  width: 358px;
  height: 48px;
  padding-left: 20px;
  background: var(--light-color);
  border: 1px solid #CBCACA;
  border-radius: 3px;
}

.form__input:not(:last-child) {
  margin-right: 30px;
}

.form__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: rgba(48, 48, 53, 0.85);
}

.form__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: rgba(48, 48, 53, 0.85);
}

.form__input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: rgba(48, 48, 53, 0.85);
}

.form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: rgba(48, 48, 53, 0.85);
}

.form__privacy {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color);
}

.footer {
  padding: 186px 0;
  background-color: var(--light-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: var(--text-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-phone {
  text-align: center;
}

.footer-phone__link {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FD6A22;
}

.footer-phone__desc {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
}

.footer-privacy {
  text-align: right;
}

.footer-privacy__link {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--text-color);
}

.footer-privacy__link:not(:last-child) {
  margin-bottom: 10px;
}
