:root {
  --content-width: 1520px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #323232;
  --green-color: #33A849;
}

/* stylelint-disable */
/* stylelint-disable */
/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #F8F8F8;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
}

.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header__container {
  max-width: var(--header-container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  width: 229px;
  height: 58px;
  display: inline-block;
  background: var(--green-color);
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: var(--light-color);
  text-align: center;
}

.main-title {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
}

.main-title span {
  font-weight: 900;
}

.main-title-icon {
  position: relative;
  padding: 5px 26px 9px 40px;
  font-weight: 600 !important;
  font-size: 45px;
  line-height: 40px;
  color: var(--light-color);
}

.main-title-icon::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/main-title-icon.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--text-color);
}

@media (min-width: 480px) {
  .container {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1550px) {
  .container {
    max-width: var(--container-width);
  }
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 31px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-contacts__link {
  display: block;
  margin-right: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: var(--text-color);
}

.nav-contacts__btn {
  position: relative;
  width: 197px;
  height: 44px;
  padding: 9px 0px 9px 39px;
  background: transparent;
  border: 2px solid var(--green-color);
  border-radius: 22px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--green-color);
}

.nav-contacts__btn::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 21px;
  width: 26px;
  height: 26px;
  background-image: url(../images/phone-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-old, .price-now {
  display: block;
}

.price-old {
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 30px;
  line-height: 22px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A7A7A7;
  text-align: right;
}

.price-now {
  font-weight: 900;
  font-size: 50px;
  line-height: 22px;
  color: var(--text-color);
}

.video__container {
  position: relative;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  margin-bottom: 10px;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__btn:hover svg path:nth-child(1) {
  fill: #ff0000;
  fill-opacity: .8;
}

.video__title {
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
  text-align: center;
}

.header {
  position: relative;
  background-color: #FBFBFB;
  z-index: 10;
}

.header__container {
  max-width: 1780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 80px;
}

.header__nav {
  margin-left: 70px;
}

.header__burger {
  position: relative;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
}

.header__burger-line {
  display: inline-block;
  width: 43px;
  height: 3px;
  background: #171717;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before, .header__burger-line::after {
  content: "";
  position: absolute;
  right: 0;
  width: 60px;
  height: 3px;
  background: #171717;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-line::before {
  bottom: 0;
}

.header__burger-line::after {
  top: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}

.hero {
  padding: 90px 0;
  position: relative;
  background-color: var(--light-color);
  background-image: url(../images/hero/hero-bg.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__container {
  z-index: 1;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.hero__info {
  max-width: 900px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__item:not(:last-child) {
  margin-bottom: 30px;
}

.hero__item-icon {
  width: 10%;
}

.hero__item-text {
  width: 80%;
}

.hero__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.hero__item-desc {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: var(--text-color);
}

.hero__image {
  position: absolute;
  right: 80px;
}

.hero__image_mobile {
  display: none;
}

.hero__buy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__prices {
  margin-right: 70px;
}

.hero__btn {
  margin-right: 30px;
}

.advantages {
  padding: 60px 0;
}

.advantages__title {
  margin-bottom: 10px;
  text-align: center;
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #989898;
  text-align: center;
}

.advantages__buttons {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/advantages/advantages-line.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.advantages__btn {
  padding: 0 50px 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color);
}

.advantages__btn:not(:last-child) {
  margin-right: 120px;
}

.advantages__btn_active {
  border-bottom: 3px solid #FD9800;
  font-weight: 700;
}

.advantages__list {
  max-width: 1322px;
  margin: 0 auto;
}

.advantages__item_1 .advantages-list__item_1 {
  background-image: url(../images/advantages/advantages-img1.png);
  background-position: right 100px bottom;
}

.advantages__item_1 .advantages-list__item_2 {
  background-image: url(../images/advantages/advantages-img2.png);
  background-position: left 100px center;
}

.advantages__item_1 .advantages-list__item_3 {
  background-image: url(../images/advantages/advantages-img3.png);
  background-position: right 100px center;
}

.advantages__item_1 .advantages-list__item_4 {
  background-image: url(../images/advantages/advantages-img4.png);
  background-position: left;
  background-size: contain;
}

.advantages__item_2 .advantages-list__item_1 {
  background-image: url(../images/advantages/advantages-img5.png);
  background-position: right center;
}

.advantages__item_2 .advantages-list__item_2 {
  background-image: url(../images/advantages/advantages-img6.png);
  background-position: left center;
  background-size: contain;
}

.advantages__item_2 .advantages-list__item_3 {
  background-image: url(../images/advantages/advantages-img7.png);
  background-position: right 130px center;
  background-size: contain;
}

.advantages__item_3 .advantages-list__item_1 {
  background-image: url(../images/advantages/advantages-img8.png);
  background-position: right 60px bottom;
}

.advantages__item_3 .advantages-list__item_2 {
  background-image: url(../images/advantages/advantages-img9.png);
  background-position: right 60px center;
}

.advantages-list__item {
  position: relative;
  padding: 90px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--light-color);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 80px;
  padding: 9px 54px 21px 20px;
  background-image: url(../images/advantages/advantages-icon.svg);
  background-repeat: no-repeat;
  font-weight: 900;
  font-size: 45px;
  line-height: 50px;
  color: var(--light-color);
}

.advantages-list__item_1::before {
  content: '1';
}

.advantages-list__item_2::before {
  content: '2';
}

.advantages-list__item_3::before {
  content: '3';
}

.advantages-list__item_4::before {
  content: '4';
}

.advantages-list__item_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advantages-list__item_right .advantages-list__info {
  text-align: right;
}

.advantages-list__item_right .advantages-list__text {
  margin-left: 180px;
}

.advantages-list__image_mobile {
  display: none;
}

.advantages-list__info {
  width: 65%;
}

.advantages-list__text {
  max-width: 520px;
}

.advantages-list__text_not-max-width {
  max-width: none;
  margin-left: 0 !important;
}

.advantages-list__text_not-max-width ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.advantages-list__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: var(--text-color);
}

.advantages-list__subheading {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  color: #FD9800;
}

.advantages-list__desc {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--text-color);
}

.advantages-list__desc span {
  font-weight: 700;
}

.advantages-list__desc:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list ul {
  list-style-type: disc;
}

.advantages-list ul:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list ul.max-widht {
  max-width: 700px;
}

.advantages-list ul li {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--text-color);
}

.advantages-list ul li span {
  font-weight: 700;
}

.advantages-list__btn {
  display: none;
  margin: 0 auto;
}

.base-information {
  padding: 60px 0;
}

.base-information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base-information__image {
  width: 48%;
}

.base-information__image video {
  width: 100%;
}

.base-information__info {
  width: 48%;
}

.base-information__title {
  margin-bottom: 20px;
}

.base-information__desc {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--text-color);
}

.base-information__desc:not(:last-child) {
  margin-bottom: 30px;
}

.base-information__desc span {
  font-weight: 700;
}

.base-information__video {
  width: 100%;
}

.base-information__video video {
  width: 100%;
}

.video-reviews {
  padding: 60px 0;
}

.video-reviews__title {
  margin-bottom: 20px;
  text-align: center;
}

.video-reviews__subtitle {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #989898;
  text-align: center;
}

.video-reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-reviews__item {
  max-width: 522px;
  width: 100%;
}

.video-reviews__item:nth-child(odd) {
  margin-right: 140px;
}

.video-reviews__item:nth-child(n+3) {
  margin-top: 100px;
}

.video-reviews__video-container {
  width: 90%;
  margin: 0 auto;
}

.video-reviews__name {
  margin: 0;
  margin-top: 20px;
  padding-bottom: 26px;
  border-bottom: 1px solid #EE8144;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
}

.comparison {
  padding: 60px 0;
}

.comparison__title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.comparison__table-mobile {
  display: none;
}

.table-mobile-icon-prev, .table-mobile-icon-next {
  position: absolute;
  top: 30px;
  display: inline-block;
  width: 22px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.table-mobile-icon-prev {
  left: 20px;
  background-image: url(../images/arrow-prev.svg);
}

.table-mobile-icon-next {
  right: 20px;
  background-image: url(../images/arrow-next.svg);
}

.table {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border-collapse: collapse;
}

.table th, .table td {
  width: 33.3333%;
  border: 3px solid rgba(134, 134, 134, 0.1);
}

.table__col {
  position: relative;
  padding: 38px 0;
}

.table__col_sputnik::after {
  content: '';
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  position: absolute;
  border: 3px solid #FD9800;
}

.table__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: var(--text-color);
}

.table__title span {
  font-weight: 700;
}

.table__text {
  position: relative;
  padding: 20px;
  border-top: none !important;
  border-bottom: none !important;
}

.table__text::after {
  border-top: none;
  border-bottom: none;
}

.table__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__text-inner span {
  display: block;
  width: 10%;
}

.table__desc {
  width: 87%;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
}

.table__desc span {
  font-weight: 600;
  width: 100%;
}

.table__price {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--text-color);
  text-align: center;
}

.table__price span {
  display: block;
  margin-top: 20px;
  font-weight: 900;
  font-size: 50px;
  line-height: 22px;
}

.table__price .red {
  color: #DF2626;
}

.table__price_green {
  color: #33A849 !important;
}

.table__prices {
  padding: 32px 0 44px;
  vertical-align: middle !important;
  text-align: center;
}

.table__prices--dino .table__price--now {
  font-size: 55px;
  color: var(--green-color);
}

.table__info {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: var(--text-color);
}

.table__price {
  display: block;
}

.table__price--now {
  font-weight: 900;
  font-size: 50px;
  line-height: 22px;
  color: #DF2626;
}

.table-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-mobile__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--light-color);
  border: 3px solid rgba(134, 134, 134, 0.1);
  -webkit-box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.table-mobile__col:not(:last-child) {
  margin-bottom: 30px;
}

.table-mobile__col_sputnik {
  border: 3px solid #FD9800;
}

.table-mobile__title {
  margin: 0;
  padding: 40px;
  border-bottom: 3px solid rgba(134, 134, 134, 0.1);
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #323232;
  text-align: center;
}

.table-mobile__title_sputnik {
  border: 2px solid #FD9800;
}

.table-mobile__image {
  position: relative;
  padding: 20px 0;
  border-bottom: 3px solid rgba(134, 134, 134, 0.1);
}

.table-mobile__image_sputnik {
  border: 2px solid #FD9800;
}

.table-mobile__text {
  padding: 20px 24px 20px 24px;
  border-bottom: 3px solid rgba(134, 134, 134, 0.1);
}

.table-mobile__text_sputnik {
  border: 2px solid #FD9800;
}

.table-mobile__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-mobile__text-inner:not(:last-child) {
  margin-bottom: 30px;
}

.table-mobile__text-inner span {
  display: block;
  width: 20%;
}

.table-mobile__desc {
  width: 80%;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: var(--text-color);
}

.table-mobile__desc span {
  font-weight: 700;
  width: 100%;
}

.table-mobile__prices {
  padding: 20px 0;
  text-align: center;
}

.table-mobile__prices_sputnik {
  border: 2px solid #FD9800;
}

.table-mobile__info {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-color);
}

.table-mobile__price {
  display: block;
  font-weight: 900;
}

.table-mobile__price--now {
  font-size: 50px;
  line-height: 50px;
  color: #DF2626;
}

.table-mobile__price_green {
  color: #33A849;
}

.set {
  padding: 60px 0;
}

.set__title {
  margin-bottom: 12px;
  text-align: center;
}

.set__subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #939393;
  text-align: center;
}

.set__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.set__list {
  list-style-type: decimal;
}

.set__item {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.set__item:hover {
  font-weight: 900;
}

.set__item:not(:last-child) {
  margin-bottom: 25px;
}

.set__modal {
  display: none;
}

.fancybox-content {
  padding: 0;
}

.set-modal__inner {
  position: relative;
  max-width: 550px;
  width: 100%;
  height: 900px;
  padding: 40px 50px;
}

.set-modal__images {
  display: block;
  margin-bottom: 40px;
  background-color: #F0F0F0;
}

.set-modal__text {
  padding: 0 50px;
}

.set-modal__title {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FD9800;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  text-align: center;
}

.set-modal__desc {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: var(--text-color);
}

.set-modal ul li {
  font-size: 20px;
  line-height: 27px;
  color: var(--text-color);
}

.set-modal-icon-prev, .set-modal-icon-next {
  position: absolute;
  top: 23%;
  -webkit-transform: translateY(-23%);
          transform: translateY(-23%);
}

.set-modal-icon-prev {
  left: 50px;
}

.set-modal-icon-next {
  right: 50px;
}

.goods {
  padding: 60px 0;
}

.goods__title {
  margin-bottom: 20px;
  text-align: center;
}

.goods__subtitle {
  margin: 0;
  margin-bottom: 190px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #939393;
  text-align: center;
}

.goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.goods__buy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods__prices {
  margin-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods__price .price-old {
  margin: 0 0 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: inherit;
}

.goods__price .price-now {
  font-size: 32px;
  line-height: 26px;
}

.goods__discount {
  display: block;
  padding: 8px 17px 5px 6px;
  background-image: url(../images/goods/discount-green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.goods__discount span {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-color);
}

.goods-list__item {
  position: relative;
  max-width: 378px;
  width: 100%;
  padding: 450px 70px 33px;
  background: var(--light-color);
  border-radius: 5px;
}

.goods-list__item_1 .goods-list__image {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.goods-list__item_2 .goods-list__image {
  -webkit-transform: translate(50%, -70px);
          transform: translate(50%, -70px);
}

.goods-list__item_3 .goods-list__image {
  -webkit-transform: translate(50%, -140px);
          transform: translate(50%, -140px);
}

.goods-list__item_red {
  border: 2px solid #FD6A22;
}

.goods-list__item_red .goods__discount {
  background-image: url(../images/goods/discount-red.svg);
}

.goods-list__item_red .goods__btn {
  background: #FF5858;
}

.goods-list__image {
  position: absolute;
  top: 0;
  right: 50%;
  width: 100%;
}

.goods-list__info {
  max-width: 230px;
  margin: 0 auto;
}

.goods-list__liters {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color);
}

.goods-list__desc {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
}

.goods-list__desc span {
  font-weight: 600;
}

.goods-list ul {
  width: 140px;
  margin: 0 auto 40px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: disc;
}

.goods-list ul li {
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.goods-list ul li:not(:last-child) {
  margin-bottom: 5px;
}

.goods-list ul li span {
  font-weight: 600;
}

.kit {
  padding: 60px 0;
}

.kit__title {
  margin-bottom: 50px;
  text-align: center;
}

.kit__buy {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kit-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 110px 40px 130px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}

.kit-list__image {
  width: 30%;
}

.kit-list__info {
  width: 60%;
}

.kit-list__name {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--text-color);
}

.kit-list__desc {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.kit-list__desc span {
  font-weight: 600;
}

.kit-list ul {
  margin-bottom: 30px;
  list-style-type: disc;
}

.kit-list ul li {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.kit-list ul li span {
  font-weight: 600;
}

.gallery {
  padding: 60px 0;
}

.gallery__title {
  text-align: center;
  margin: 0 auto 50px;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (209px)[3];
      grid-template-rows: repeat(3, 209px);
  grid-gap: 30px;
}

.gallery__item {
  background: #F8F8F8;
}

.gallery__item_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.gallery__item_2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery__item_3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery__item_4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery__item_5 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.manufacturer {
  position: relative;
  padding: 60px 0;
  background-image: url(../images/manufacturer-bg.webp);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.manufacturer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background: linear-gradient(89.25deg, rgba(0, 0, 0, 0.75) 77.25%, rgba(0, 0, 0, 0) 92.26%);
}

.manufacturer__container {
  position: relative;
  z-index: 10;
}

.manufacturer__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: var(--light-color);
}

.manufacturer__title span.yellow {
  color: #FFCB12;
}

.manufacturer__title span {
  font-weight: 900;
}

.manufacturer__item {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--light-color);
}

.manufacturer__item span {
  font-weight: 700;
}

.manufacturer__item:not(:last-child) {
  margin-bottom: 20px;
}

.manufacturer__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/manufacturer-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.manufacturer a {
  color: #fff;
}

.delivery {
  padding: 60px 0;
}

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery__image {
  margin-bottom: 20px;
}

.delivery__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.delivery__company {
  width: 30%;
}

.delivery__company img {
  display: block;
}

.delivery__company img:nth-child(1) {
  margin-left: 0;
}

.delivery__company img:nth-child(2) {
  margin: 0 auto;
}

.delivery__company img:nth-child(3) {
  margin-right: 0;
}

.delivery__company img:not(:last-child) {
  margin-bottom: 20px;
}

.delivery__list {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
}

.delivery__item {
  position: relative;
  padding-left: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.delivery__item:not(:last-child) {
  margin-top: 31px;
  margin-bottom: 11px;
}

.delivery__item::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--text-color);
}

.delivery__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 87.36px;
}

.delivery__subtitle {
  max-width: 640px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: var(--text-color);
}

.delivery__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.delivery__price-text {
  margin: 0;
  margin-right: 13px;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__price-text span {
  font-weight: 600;
}

.delivery__price-text--two {
  margin-right: 23px;
}

.delivery__desc {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.delivery__desc span {
  font-weight: 600;
}

.reviews {
  padding: 60px 0;
}

.reviews__title {
  margin-bottom: 50px;
  text-align: center;
}

.reviews__container {
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 74px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}

.swiper-button-prev {
  left: -50px;
  background-image: url(../images/arrow-prev.svg);
}

.swiper-button-next {
  right: -50px;
  background-image: url(../images/arrow-next.svg);
}

.consultation {
  padding: 60px 0;
}

.consultation__title {
  position: relative;
  width: 77%;
  margin: 0 auto;
  padding-bottom: 60px;
  font-weight: 900;
  text-align: center;
}

.consultation__title::before, .consultation__title::after {
  content: '';
  position: absolute;
  top: 25px;
  width: 335px;
  height: 158px;
  background-repeat: no-repeat;
}

.consultation__title::before {
  left: 0;
  background-image: url(../images/consultation-line-left.svg);
}

.consultation__title::after {
  right: 0;
  background-image: url(../images/consultation-line-right.svg);
}

.consultation__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultation__btn {
  width: 410px;
  height: auto;
  padding: 52px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--light-color);
}

.consultation__btn:not(:last-child) {
  margin-right: 30px;
}

.consultation__btn_orange {
  background: #FD9800;
}

.footer {
  padding: 60px 0;
  background-color: var(--light-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 16px;
}

.footer-logo__text {
  margin-left: 0;
}

.footer__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: var(--text-color);
}

.footer-phone {
  text-align: center;
}

.footer-phone__link {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--text-color);
}

.footer-phone__desc {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
}

.footer-privacy {
  text-align: right;
}

.footer-privacy__link {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--text-color);
}

.footer-privacy__link:not(:last-child) {
  margin-bottom: 10px;
}
