.advantages {
    padding: 80px 0 100px;

    &__title {
        margin-bottom: 10px;
        text-align: center;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #989898;
        text-align: center;
    }

    &__buttons {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/advantages/advantages-line.png);
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    &__btn {
        padding: 0 50px 30px;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        color: var(--text-color);

        &:not(:last-child) {
            margin-right: 120px;
        }

        &_active {
            border-bottom: 3px solid #FD9800;
            font-weight: 700;
        }
    }

    &__list {
        max-width: 1322px;
        margin: 0 auto;
    }

    &__item {
        &_1 {
            .advantages-list__item_1 {
                background-image: url(../images/advantages/advantages-img1.png);
            }

            .advantages-list__item_2 {
                background-image: url(../images/advantages/advantages-img1.png);
            }

            .advantages-list__item_3 {
                background-image: url(../images/advantages/advantages-img1.png);
            }

            .advantages-list__item_4 {
                background-image: url(../images/advantages/advantages-img1.png);
            }
        }
    }
}

.advantages-list {
    &__item {
        position: relative;
        padding: 90px 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--light-color);
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
        background-position: right;
        background-repeat: no-repeat;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 93px;
            height: 80px;
            padding: 9px 54px 21px 20px;
            background-image: url(../images/advantages/advantages-icon.svg);
            background-repeat: no-repeat;
            font-weight: 900;
            font-size: 45px;
            line-height: 50px;
            color: var(--light-color);
        }

        &_1 {
            &::before {
                content: '1';
            }
        }

        &_2 {
            &::before {
                content: '2';
            }
        }

        &_3 {
            &::before {
                content: '3';
            }
        }

        &_4 {
            &::before {
                content: '4';
            }
        }

        &_right {
            justify-content: flex-end;

            .advantages-list__info {
                text-align: right;
            }

            .advantages-list__text {
                margin-left: 180px;
            }
        }
    }

    &__info {
        width: 65%;
    }

    &__text {
        max-width: 520px;

        &_not-max-width {
            max-width: none;
            margin-left: 0!important;

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    &__heading {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        color: var(--text-color);
    }

    &__subheading {
        margin: 0;
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 25px;
        line-height: 28px;
        color: #FD9800;
    }

    &__desc {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: var(--text-color);

        span {
            font-weight: 700;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    ul {
        list-style-type: disc;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &.max-widht {
            max-width: 700px;
        }

        li {
            margin: 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: var(--text-color);

            span {
                font-weight: 700;
            }
        }
    }
}