.consultation {
    padding: 120px 0 300px;

    &__title {
        position: relative;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 60px;
        font-weight: 900;
        text-align: center;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 25px;
            width: 335px;
            height: 158px;
            background-repeat: no-repeat;
        }

        &::before {
            left: 0;
            background-image: url(../images/consultation-line-left.svg);
        }

        &::after {
            right: 0;
            background-image: url(../images/consultation-line-right.svg);
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 410px;
        height: auto;
        padding: 52px 0;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: var(--light-color);

        &:not(:last-child) {
            margin-right: 30px;
        }

        &_orange {
            background: #FD9800;
        }
    }
}