.hero {
    padding: 90px 0;
    position: relative;
    background-color: var(--light-color);
    background-image: url(../images/hero/hero-bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;

    &__container {
        z-index: 1;
    }

    &__content {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }

    &__info {
        max-width: 900px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;  
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &-icon {
            width: 10%;
        }

        &-text {
            width: 80%;
        }

        &-title {
            margin: 0;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: var(--text-color);
        }

        &-desc {
            margin: 0;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: var(--text-color);
        }
    }

    &__image {
        position: absolute;
        right: 80px;
        
        &_mobile {
            display: none;
        }
    }

    &__buy {
        align-items: center;
    }

    &__prices {
        margin-right: 70px;
    }

    &__btn {
        margin-right: 30px;
    }
}