.reviews {
    padding: 60px 0;
  
    &__title {
        margin-bottom: 50px;
        text-align: center;
    }
  
    &__container {
        position: relative;
    }
  }
  
  .swiper-button-next, .swiper-button-prev {
    width: 42px;
    height: 74px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
  }
  
  .swiper-button-prev {
    left: -50px;
    background-image: url(../images/arrow-prev.svg);
  }
  
  .swiper-button-next {
    right: -50px;
    background-image: url(../images/arrow-next.svg);
  }