.set {
    padding: 60px 0;

    &__title {
        margin-bottom: 12px;
        text-align: center;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #939393;
        text-align: center;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__list {
        list-style-type: decimal;
    }

    &__item {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        color: var(--text-color);
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            font-weight: 900;
        }

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__modal {
        display: none;
    }
}

.fancybox-content {
    padding: 0;
}

.set-modal {
    &__inner {
        max-width: 520px;
        padding: 16px 25px;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-color);
    }

    &__desc {
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-color);
    }

    ul {
        li {
            font-size: 18px;
            line-height: 28px;
            color: var(--text-color);
        }
    }
}